@font-face {
  font-family: Baloo 2;
 font-weight: 400
  src: url("/fonts/Baloo2-Regular.ttf");
}

@font-face {
  font-family: Baloo 2;
 font-weight: 500
  src: url("/fonts/Baloo2-Medium.ttf");
}

@font-face {
  font-family: Baloo 2;
 font-weight: 600
  src: url("/fonts/Baloo2-SemiBold.ttf");
}

@font-face {
  font-family: Baloo 2;
 font-weight: 700
  src: url("/fonts/Baloo2-Bold.ttf");
}
@font-face {
  font-family: Baloo 2;
 font-weight: 800
  src: url("/fonts/Baloo2-ExtraBold.ttf");
}

html{font-family: "Baloo 2", sans-serif;}
