{{ define "body_classes" }}page-services-list{{ end }} {{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div
        class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative"
      >
        <img
          alt="{{"
          .Title
          }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}"
        />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-3">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}
