{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="container intro">
	<div>
		{{ .Content }}
		{{ if .Site.Params.homepage.show_contact_box }}
		{{ partial " call.html" (dict "site" .Site "context" . "show_button" "true" ) }}
		{{ end }}
	</div>
	<img alt={{ .Title }} src='{{  "/images/prav-screenshot.jpg" | absURL }}' class="intro-image" />
</div>
</div>
<section class="container mb-5">
	<div class="row">
		<div class="col-lg-6 col-md-4 order-1">

			<iframe width="560" height="315" style="max-width: 100%" sandbox="allow-same-origin allow-scripts allow-popups"
				src="https://videos.fsci.in/videos/embed/7268cae2-218c-4692-a7ac-84102799746c" frameborder="0"
				allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 col-md-4 order-2">
			<h1>Get Involved!</h1>
			<p class="mt-3">
				Do you have experience with Android app development? We are inviting Android developers for creating prav
				public
				beta
				app as paid work.
				<a href="/blog/inviting-developers-for-prav-public-beta/"><button class="button mt-2">Learn More</button></a>
			</p>
		</div>
	</div>
</section>
{{if .Site.Data.countdown}}
{{ partial "countdown/countdown.html" .Site.Data.countdown }}
{{end}}

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="strip">
	<div class="container pt-6 pb-6 pb-md-10">
		<div class="row justify-content-start">
			{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
			{{ range first 6 (sort $services ".Params.weight") }}
			<div class="col-12 col-md-4 mb-1">
				{{ .Render "summary" }}
			</div>
			{{ end }}
		</div>
		{{ if not .Site.Params.homepage.show_services_button }}
		<div class="row justify-content-center">
			<div class="col-auto">
				<a class="button button-primary" href="{{ " services/" | relURL }}">View All Services</a>
			</div>
		</div>
		{{ end }}
	</div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip strip-grey">
	<div class="container pt-6 pb-6 pt-md-10 pb-md-10">
		<div class="row justify-content-center">
			{{ range .Site.Data.features }}
			<div class="col-12 col-md-6 col-lg-4 mb-2">
				<div class="feature">
					{{ if .image }}
					<div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo"
							src="{{ .image | relURL }}" /></div>
					{{ end }}
					<h2 class="feature-title">{{ .title }}</h2>
					<div class="feature-content">
						<p>{{ .description }}</p>
					</div>
				</div>
			</div>
			{{end}}
		</div>
	</div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{if .Site.Data.countdown}}
{{ partial "countdown/scripts.html" .Site.Data.countdown }}
{{end}}
{{ end }}
